@charset "utf-8";

/*
 *= require tensecond
 */

html, body {
    height: 100%;
    color: #333; 
}

body {
    background: #d4d4d4 url("../images/background.png");
    text-align: center;
    font-family: sans-serif;
 }


h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  background: url("../images/middleman.png") no-repeat center 100px;
  padding: 350px 0 10px;
  margin: 0; }

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }
      
      
footer {
    margin-top: -22px;
}

#game {
    width: 100%;
    height: 100%;
}

#game_bar {
    width: 100%;
    background: rgba(0,0,0, 0.33);
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 18px;
    padding-right: 18px;
}

#game_bar .value {
    font-weight: 900;
    color: #222;
}

#game_console {
    position: absolute;
    background: #fff;
    left: 18px;
    height:70%;
    width: 216px;
    overflow-y: scroll;
    text-align:left;
    font-size: 90%;
}

#game_console p {
    padding: 9px;
    margin: 0;
}

#game_menu {
    position: absolute;
    right: 18px;
    height:70%;
    width: 180px;
    }
    
#game_menu .item {
    margin-top: 9px;
    padding: 9px;
    border: 1px solid #999;
    color: #999;
    background: #f7f7f7;
}

#game_menu .item.enabled:hover {
    background: #fff;
    border: 1px solid #37b;
    cursor: pointer;
}

#game_menu .item.enabled {
    border: 1px solid #444;
    color: #444;
    background: #f9f9f9;
}

#game_menu .item .name {
    font-weight: 900;
    float: left;
}

#game_menu .item .price {
    float: right;    
}

#game_menu .item .desc {
    clear:both;
    display: block;
    width: 100%;
    font-size: 80%;
    font-style: italic;
    margin-top: 0.5em;
}
    
#game_window {
    margin-left: 252px;
    margin-right: 216px;
     background: #fff;
}